In [1]:
from sklearn import datasets

In [2]:
diabetes = datasets.load_diabetes()

In [3]:
X = diabetes.data
Y = diabetes.target

In [4]:
X.shape

(442, 10)

In [9]:
import pandas as pd
df = pd.DataFrame(X)
df.columns = diabetes.feature_names
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [5]:
import numpy as np
training_data=np.loadtxt('training_diabetes_x_y_train.csv', delimiter=',')
testing_data=np.loadtxt('test_diabetes_x_test.csv', delimiter=',')
print(testing_data.shape)
print(training_data.shape)

(111, 10)
(331, 11)

In [6]:
'''
X_train = train_data[:,9].reshape(-1,1)
Y_train = train_data[:,10]
X_test = test_data[:,9].reshape(-1,1)
'''
X_test=testing_data
X_train=training_data[:, :10]
Y_train=training_data[:, 10:]
print(X_test.shape)
print(Y_train.shape)
print(X_train.shape)

(111, 10)
(331, 1)
(331, 10)

In [7]:
from sklearn.linear_model import LinearRegression
alg1 = LinearRegression()
alg1.fit(X_train,Y_train)

LinearRegression()

In [8]:
m = alg1.coef_
c = alg1.intercept_
print("m, c ",m,c)

m, c  [[  21.73408096 -256.66866675  569.60940087  303.63233545 -833.11088526
   525.74313633  136.07129167  140.89458927  731.44498492   53.32119133]] [150.70257489]

In [9]:
Y_pred = alg1.predict(X_test)
Y_pred_decimal5 = np.around(Y_pred,decimals=5)
Y_pred_decimal5

array([[105.52975],
       [105.80392],
       [178.60857],
       [ 79.38288],
       [ 52.95869],
       [ 98.87264],
       [150.71755],
       [ 34.86515],
       [113.13536],
       [161.50184],
       [135.86156],
       [ 94.71592],
       [138.48094],
       [141.37442],
       [158.76863],
       [171.65289],
       [106.44836],
       [103.9266 ],
       [ 95.38694],
       [167.40118],
       [166.53426],
       [101.53465],
       [252.45036],
       [147.02259],
       [214.78907],
       [161.27557],
       [210.61315],
       [ 71.78092],
       [189.65032],
       [206.61343],
       [219.98643],
       [168.80193],
       [116.84846],
       [178.744  ],
       [ 77.03247],
       [ 59.54633],
       [111.56738],
       [156.95187],
       [154.59591],
       [198.94457],
       [115.53884],
       [153.46699],
       [ 84.9618 ],
       [113.70337],
       [142.14156],
       [147.3104 ],
       [ 82.78072],
       [ 77.89237],
       [128.99006],
       [261.58712],
       [213.31188],
       [243.98791],
       [167.68132],
       [183.69712],
       [166.85927],
       [202.1144 ],
       [220.39236],
       [172.40288],
       [176.60898],
       [109.04657],
       [276.3779 ],
       [ 90.99942],
       [289.37221],
       [119.56253],
       [ 75.45688],
       [180.78599],
       [146.62093],
       [156.42382],
       [ 41.07904],
       [247.90645],
       [207.99121],
       [ 90.09641],
       [222.2417 ],
       [189.86378],
       [182.26954],
       [164.39881],
       [190.27067],
       [105.44868],
       [199.86136],
       [245.79639],
       [123.20281],
       [119.41032],
       [145.8662 ],
       [206.19247],
       [150.86282],
       [142.23222],
       [154.56875],
       [115.29233],
       [134.0781 ],
       [118.42225],
       [203.57676],
       [170.66484],
       [127.4098 ],
       [ 57.13508],
       [231.92227],
       [185.20714],
       [187.37495],
       [ 83.55921],
       [185.42586],
       [217.34036],
       [108.86715],
       [ 80.98715],
       [127.05524],
       [242.00739],
       [155.97234],
       [125.67575],
       [246.41236],
       [234.96393],
       [191.51298],
       [168.33254],
       [163.02965]])

In [10]:
np.savetxt("pred.csv",Y_pred_decimal5,delimiter=",",fmt='%f')