In [3]:
#Pandas
import pandas as pd

In [74]:
# iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data") # 
#certificate issue coming so downloaded it local
iris = pd.read_csv("iris.data")
df = iris.copy()

In [13]:
df.head() # gives brief about data, default as first 5 rows

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [17]:
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [16]:
df.tail() # last 5 rows

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [20]:
print(df.shape)
print(df.dtypes)

(149, 5)
5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [21]:
df.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [75]:
df.columns = ['sl','sw','pl','pw','flower_type']
df.columns

Index(['sl', 'sw', 'pl', 'pw', 'flower_type'], dtype='object')

In [24]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [25]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [26]:
df.sl #to access the column

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [27]:
df["sl"] # to access the column

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [28]:
df.isnull()

        sl     sw     pl     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [29]:
df.isnull().sum() # check null entries

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [32]:
df.iloc[1:4,2:4] # rows from 1 to 3 and column from 2 to 3

    pl   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2

In [38]:
d = {}
for i in df['flower_type']:
    d[i] = d.get(i,0) + 1
for i in d:
    print(d[i],end=' ')

49 50 50

In [55]:
df = df[(df.flower_type=='Iris-virginica') & (df.pl>1.5)]
for i in df.values:
    for j in i:
        print(j,end=' ')
    print("")

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica

In [64]:
from urllib import request
import ssl

url="https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"
context = ssl._create_unverified_context()
response = request.urlopen(url, context=context)
html = response.read()
html

b'"sepal.length","sepal.width","petal.length","petal.width","variety"\n5.1,3.5,1.4,.2,"Setosa"\n4.9,3,1.4,.2,"Setosa"\n4.7,3.2,1.3,.2,"Setosa"\n4.6,3.1,1.5,.2,"Setosa"\n5,3.6,1.4,.2,"Setosa"\n5.4,3.9,1.7,.4,"Setosa"\n4.6,3.4,1.4,.3,"Setosa"\n5,3.4,1.5,.2,"Setosa"\n4.4,2.9,1.4,.2,"Setosa"\n4.9,3.1,1.5,.1,"Setosa"\n5.4,3.7,1.5,.2,"Setosa"\n4.8,3.4,1.6,.2,"Setosa"\n4.8,3,1.4,.1,"Setosa"\n4.3,3,1.1,.1,"Setosa"\n5.8,4,1.2,.2,"Setosa"\n5.7,4.4,1.5,.4,"Setosa"\n5.4,3.9,1.3,.4,"Setosa"\n5.1,3.5,1.4,.3,"Setosa"\n5.7,3.8,1.7,.3,"Setosa"\n5.1,3.8,1.5,.3,"Setosa"\n5.4,3.4,1.7,.2,"Setosa"\n5.1,3.7,1.5,.4,"Setosa"\n4.6,3.6,1,.2,"Setosa"\n5.1,3.3,1.7,.5,"Setosa"\n4.8,3.4,1.9,.2,"Setosa"\n5,3,1.6,.2,"Setosa"\n5,3.4,1.6,.4,"Setosa"\n5.2,3.5,1.5,.2,"Setosa"\n5.2,3.4,1.4,.2,"Setosa"\n4.7,3.2,1.6,.2,"Setosa"\n4.8,3.1,1.6,.2,"Setosa"\n5.4,3.4,1.5,.4,"Setosa"\n5.2,4.1,1.5,.1,"Setosa"\n5.5,4.2,1.4,.2,"Setosa"\n4.9,3.1,1.5,.2,"Setosa"\n5,3.2,1.2,.2,"Setosa"\n5.5,3.5,1.3,.2,"Setosa"\n4.9,3.6,1.4,.1,"Setosa"\n4.4,3,1.3,.2,"Setosa"\n5.1,3.4,1.5,.2,"Setosa"\n5,3.5,1.3,.3,"Setosa"\n4.5,2.3,1.3,.3,"Setosa"\n4.4,3.2,1.3,.2,"Setosa"\n5,3.5,1.6,.6,"Setosa"\n5.1,3.8,1.9,.4,"Setosa"\n4.8,3,1.4,.3,"Setosa"\n5.1,3.8,1.6,.2,"Setosa"\n4.6,3.2,1.4,.2,"Setosa"\n5.3,3.7,1.5,.2,"Setosa"\n5,3.3,1.4,.2,"Setosa"\n7,3.2,4.7,1.4,"Versicolor"\n6.4,3.2,4.5,1.5,"Versicolor"\n6.9,3.1,4.9,1.5,"Versicolor"\n5.5,2.3,4,1.3,"Versicolor"\n6.5,2.8,4.6,1.5,"Versicolor"\n5.7,2.8,4.5,1.3,"Versicolor"\n6.3,3.3,4.7,1.6,"Versicolor"\n4.9,2.4,3.3,1,"Versicolor"\n6.6,2.9,4.6,1.3,"Versicolor"\n5.2,2.7,3.9,1.4,"Versicolor"\n5,2,3.5,1,"Versicolor"\n5.9,3,4.2,1.5,"Versicolor"\n6,2.2,4,1,"Versicolor"\n6.1,2.9,4.7,1.4,"Versicolor"\n5.6,2.9,3.6,1.3,"Versicolor"\n6.7,3.1,4.4,1.4,"Versicolor"\n5.6,3,4.5,1.5,"Versicolor"\n5.8,2.7,4.1,1,"Versicolor"\n6.2,2.2,4.5,1.5,"Versicolor"\n5.6,2.5,3.9,1.1,"Versicolor"\n5.9,3.2,4.8,1.8,"Versicolor"\n6.1,2.8,4,1.3,"Versicolor"\n6.3,2.5,4.9,1.5,"Versicolor"\n6.1,2.8,4.7,1.2,"Versicolor"\n6.4,2.9,4.3,1.3,"Versicolor"\n6.6,3,4.4,1.4,"Versicolor"\n6.8,2.8,4.8,1.4,"Versicolor"\n6.7,3,5,1.7,"Versicolor"\n6,2.9,4.5,1.5,"Versicolor"\n5.7,2.6,3.5,1,"Versicolor"\n5.5,2.4,3.8,1.1,"Versicolor"\n5.5,2.4,3.7,1,"Versicolor"\n5.8,2.7,3.9,1.2,"Versicolor"\n6,2.7,5.1,1.6,"Versicolor"\n5.4,3,4.5,1.5,"Versicolor"\n6,3.4,4.5,1.6,"Versicolor"\n6.7,3.1,4.7,1.5,"Versicolor"\n6.3,2.3,4.4,1.3,"Versicolor"\n5.6,3,4.1,1.3,"Versicolor"\n5.5,2.5,4,1.3,"Versicolor"\n5.5,2.6,4.4,1.2,"Versicolor"\n6.1,3,4.6,1.4,"Versicolor"\n5.8,2.6,4,1.2,"Versicolor"\n5,2.3,3.3,1,"Versicolor"\n5.6,2.7,4.2,1.3,"Versicolor"\n5.7,3,4.2,1.2,"Versicolor"\n5.7,2.9,4.2,1.3,"Versicolor"\n6.2,2.9,4.3,1.3,"Versicolor"\n5.1,2.5,3,1.1,"Versicolor"\n5.7,2.8,4.1,1.3,"Versicolor"\n6.3,3.3,6,2.5,"Virginica"\n5.8,2.7,5.1,1.9,"Virginica"\n7.1,3,5.9,2.1,"Virginica"\n6.3,2.9,5.6,1.8,"Virginica"\n6.5,3,5.8,2.2,"Virginica"\n7.6,3,6.6,2.1,"Virginica"\n4.9,2.5,4.5,1.7,"Virginica"\n7.3,2.9,6.3,1.8,"Virginica"\n6.7,2.5,5.8,1.8,"Virginica"\n7.2,3.6,6.1,2.5,"Virginica"\n6.5,3.2,5.1,2,"Virginica"\n6.4,2.7,5.3,1.9,"Virginica"\n6.8,3,5.5,2.1,"Virginica"\n5.7,2.5,5,2,"Virginica"\n5.8,2.8,5.1,2.4,"Virginica"\n6.4,3.2,5.3,2.3,"Virginica"\n6.5,3,5.5,1.8,"Virginica"\n7.7,3.8,6.7,2.2,"Virginica"\n7.7,2.6,6.9,2.3,"Virginica"\n6,2.2,5,1.5,"Virginica"\n6.9,3.2,5.7,2.3,"Virginica"\n5.6,2.8,4.9,2,"Virginica"\n7.7,2.8,6.7,2,"Virginica"\n6.3,2.7,4.9,1.8,"Virginica"\n6.7,3.3,5.7,2.1,"Virginica"\n7.2,3.2,6,1.8,"Virginica"\n6.2,2.8,4.8,1.8,"Virginica"\n6.1,3,4.9,1.8,"Virginica"\n6.4,2.8,5.6,2.1,"Virginica"\n7.2,3,5.8,1.6,"Virginica"\n7.4,2.8,6.1,1.9,"Virginica"\n7.9,3.8,6.4,2,"Virginica"\n6.4,2.8,5.6,2.2,"Virginica"\n6.3,2.8,5.1,1.5,"Virginica"\n6.1,2.6,5.6,1.4,"Virginica"\n7.7,3,6.1,2.3,"Virginica"\n6.3,3.4,5.6,2.4,"Virginica"\n6.4,3.1,5.5,1.8,"Virginica"\n6,3,4.8,1.8,"Virginica"\n6.9,3.1,5.4,2.1,"Virginica"\n6.7,3.1,5.6,2.4,"Virginica"\n6.9,3.1,5.1,2.3,"Virginica"\n5.8,2.7,5.1,1.9,"Virginica"\n6.8,3.2,5.9,2.3,"Virginica"\n6.7,3.3,5.7,2.5,"Virginica"\n6.7,3,5.2,2.3,"Virginica"\n6.3,2.5,5,1.9,"Virginica"\n6.5,3,5.2,2,"Virginica"\n6.2,3.4,5.4,2.3,"Virginica"\n5.9,3,5.1,1.8,"Virginica"'

In [66]:
iris1 = pd.read_csv("iris.data")
iris1.columns = ['sl','sw','pl','pw','flower_type']

iris1 = iris1[(iris1.flower_type=='Iris-virginica') & (iris1.pl>1.5)]

for i in iris1.values:
    for j in i:
        print(j,end=' ')
    print("")

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica

In [107]:
for i in pd.unique(df['flower_type']):
    print(min(df[df.flower_type==i]['sl']),end=' ')
    print(min(df[df.flower_type==i]['sw']),end=' ')
    print(min(df[df.flower_type==i]['pl']),end=' ')
    print(min(df[df.flower_type==i]['pw']),end=' ')
    print(i)
    print(max(df[df.flower_type==i]['sl']),end=' ')
    print(max(df[df.flower_type==i]['sw']),end=' ')
    print(max(df[df.flower_type==i]['pl']),end=' ')
    print(max(df[df.flower_type==i]['pw']),end=' ')
    print(i)
    print(sum(df[df.flower_type==i]['sl'])/(len(df[df.flower_type==i]['sl'])),end=' ')
    print(sum(df[df.flower_type==i]['sw'])/len(df[df.flower_type==i]['sw']),end=' ')
    print(sum(df[df.flower_type==i]['pl'])/len(df[df.flower_type==i]['pl']),end=' ')
    print(sum(df[df.flower_type==i]['pw'])/len(df[df.flower_type==i]['pw']),end=' ')
    print(i)

4.3 2.3 1.0 0.1 Iris-setosa
5.8 4.4 1.9 0.6 Iris-setosa
5.004081632653061 3.416326530612245 1.4653061224489796 0.2448979591836734 Iris-setosa
4.9 2.0 3.0 1.0 Iris-versicolor
7.0 3.4 5.1 1.8 Iris-versicolor
5.936 2.7700000000000005 4.26 1.3259999999999998 Iris-versicolor
4.9 2.2 4.5 1.4 Iris-virginica
7.9 3.8 6.9 2.5 Iris-virginica
6.587999999999998 2.9739999999999998 5.552 2.026 Iris-virginica

In [104]:
format(5.004081632653061,'.2f')

'5.00'

In [101]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa