In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('School.sqlite')
db

In [26]:
db = sqlite3.connect('School2.sqlite')
db

In [27]:
cur = db.cursor()
cur

In [8]:
query = "create table Student(ID int Primary Key, Name text, Age int)"

In [9]:
cur.execute(query)

In [13]:
cur.execute("insert into Student values(102,'Manasvi',12)")

In [28]:
rollNumber  = 104
Name = 'Namit'
age = 24
cur.execute('insert into Student values(?,?,?)',(rollNumber,Name,age))

In [30]:
values = [(105,'Nidhi',20),(106,'Sudha',24),(107,'Nisha',23)]
cur.executemany('insert into Student values(?,?,?)',values)

In [33]:
cur.execute("update Student set age = 24 where id=107")

In [35]:
new_age = 25
cur.execute("update Student set age = ? where id=107",(new_age,))

In [36]:
db.commit()

In [14]:
db.commit()

In [15]:
db.close()

In [37]:
db = sqlite3.connect('Employee.sqlite')
db

In [38]:
cur = db.cursor()

In [20]:
cur.execute("create table EmployeeDetail(employee_id int Primary Key, name text, age int, department text, salary int)")

In [21]:
cur.execute("insert into EmployeeDetail values(100,'Rishav',25,'Marketing',50000)")

In [22]:
cur.execute("insert into EmployeeDetail values(101,'Abhishek',26,'Operations',60000)")

In [23]:
cur.execute("insert into EmployeeDetail values(102,'Aman',24,'Human Resource',75000)")

In [39]:
cur.execute("delete from employeedetail where employee_id in(101,102)")

In [42]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

In [43]:
list_tuple = []
for i in range(len(employee_id)):
    tuple1 = (employee_id[i],name[i],age[i],department[i],salary[i])
    list_tuple.append(tuple1)
list_tuple

[(101, 'Aadarsh', 25, 'Marketing', 50000),
 (102, 'Aarti', 27, 'Operations', 60000),
 (103, 'Siddharth', 25, 'Finance', 85000),
 (104, 'Aman', 24, 'Human Resource', 75000),
 (105, 'Amit', 30, 'Marketing', 50000),
 (106, 'Shivansh', 26, 'IT', 90000),
 (107, 'Vaibhav', 23, 'Finance', 85000),
 (108, 'Himanshu', 26, 'IT', 90000),
 (109, 'Raman', 25, 'Operations', 60000),
 (110, 'Kunal', 26, 'Marketing', 50000),
 (111, 'Adhira', 29, 'Human Resource', 75000),
 (112, 'Tanya', 24, 'Marketing', 50000)]

In [44]:
cur.executemany("insert into EmployeeDetail values(?,?,?,?,?)",list_tuple)
print("Done")

In [49]:
cur.execute("select * from EmployeeDetail")
print(cur.fetchone())
print(cur.fetchone())

(100, 'Rishav', 25, 'Marketing', 50000)
(101, 'Aadarsh', 25, 'Marketing', 50000)

In [50]:
cur.execute("select * from EmployeeDetail")
print(cur.fetchmany(3))

[(100, 'Rishav', 25, 'Marketing', 50000), (101, 'Aadarsh', 25, 'Marketing', 50000), (102, 'Aarti', 27, 'Operations', 60000)]

In [51]:
cur.execute("select * from EmployeeDetail")
print(cur.fetchall())

[(100, 'Rishav', 25, 'Marketing', 50000), (101, 'Aadarsh', 25, 'Marketing', 50000), (102, 'Aarti', 27, 'Operations', 60000), (103, 'Siddharth', 25, 'Finance', 85000), (104, 'Aman', 24, 'Human Resource', 75000), (105, 'Amit', 30, 'Marketing', 50000), (106, 'Shivansh', 26, 'IT', 90000), (107, 'Vaibhav', 23, 'Finance', 85000), (108, 'Himanshu', 26, 'IT', 90000), (109, 'Raman', 25, 'Operations', 60000), (110, 'Kunal', 26, 'Marketing', 50000), (111, 'Adhira', 29, 'Human Resource', 75000), (112, 'Tanya', 24, 'Marketing', 50000)]

In [72]:
cur.execute("select department,count(department) from EmployeeDetail group by department")

In [73]:
for row in cur:
    print(row)

('Finance', 2)
('Human Resource', 2)
('IT', 2)
('Marketing', 5)
('Operations', 2)

In [74]:
l = [('Finance', 2),
('Human Resource', 2),
('IT', 2),
('Marketing', 5),
('Operations', 2)]
for i in l:
    print(i[0],end=' ')
    print(i[1])

Finance 2
Human Resource 2
IT 2
Marketing 5
Operations 2

In [45]:
db.commit()

In [ ]:
db.close()