In [1]:
import pandas as pd

In [13]:
data = pd.read_csv('startup_funding.csv')
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [15]:
a1 = data['AmountInUSD'].dropna()
a1.head()

0    1,300,000
3      500,000
4      850,000
5    1,000,000
6    2,600,000
Name: AmountInUSD, dtype: object

In [16]:
a1 = a1.str.replace(",","")
a2 = pd.to_numeric(a1)
a2

0       1300000
3        500000
4        850000
5       1000000
6       2600000
         ...
2366    2500000
2367    4500000
2368     825000
2369    1500000
2371     140000
Name: AmountInUSD, Length: 1525, dtype: int64

In [17]:
pop_avg = a2.mean()
pop_min = a2.min()
pop_max = a2.max()
pop_avg,pop_min,pop_max

(12031073.099016393, 16000, 1400000000)

In [21]:
population = a2
sample_size = 100
sample = population.sample(sample_size,random_state=1)
sample.shape

(100,)

In [22]:
sample.mean(),sample.min(),sample.max()

(24592930.0, 18000, 1400000000)