In [2]:
import numpy as np
import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))
import pandas as pd

In [3]:
df = pd.read_csv('/Users/skumar6/git/learning/python-learning/coding ninjas/ml/Unsupervised Learning/Project-distracted-driver-detection/driver_imgs_list.csv')
df

      subject classname            img
0        p002        c0  img_44733.jpg
1        p002        c0  img_72999.jpg
2        p002        c0  img_25094.jpg
3        p002        c0  img_69092.jpg
4        p002        c0  img_92629.jpg
...       ...       ...            ...
22419    p081        c9  img_56936.jpg
22420    p081        c9  img_46218.jpg
22421    p081        c9  img_25946.jpg
22422    p081        c9  img_67850.jpg
22423    p081        c9   img_9684.jpg

[22424 rows x 3 columns]

In [4]:
img_dir = '/Users/skumar6/git/learning/python-learning/coding ninjas/ml/Unsupervised Learning/Project-distracted-driver-detection/'

In [5]:
from PIL import Image
im = Image.open(img_dir+'train/c0/img_100026.jpg', 'r')
pix_val = np.array(im.getdata())
pix_val.shape

(307200, 3)

In [6]:
from skimage import io
img = io.imread(img_dir+'train/c0/img_100026.jpg')
img.shape

(480, 640, 3)

In [7]:
train_img = []
for dirname, _, filenames in os.walk(img_dir+'train'):
    for filename in filenames:
        img = io.imread(os.path.join(dirname, filename))
        train_img.append(img)
train_img = np.array(train_img)

In [ ]:
test_img = []
for dirname, _, filenames in os.walk(img_dir+'test'):
    for filename in filenames:
        img = io.imread(os.path.join(dirname, filename))
        test_img.append(img)
test_img = np.array(test_img)

In [1]:
train_img.shape

NameError: name 'train_img' is not defined

In [ ]:
test_img.shape