In [1]:
from sklearn import datasets

In [3]:
diabetes = datasets.load_diabetes()

In [5]:
X = diabetes.data
Y = diabetes.target

In [6]:
X.shape

(442, 10)

In [9]:
import pandas as pd
df = pd.DataFrame(X)
df.columns = diabetes.feature_names
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [51]:
import numpy as np
training_data=np.loadtxt('datasets/0000000000002329_training_diabetes_x_y_train.csv', delimiter=',')
testing_data=np.loadtxt('datasets/0000000000002329_test_diabetes_x_test.csv', delimiter=',')
print(testing_data.shape)
print(training_data.shape)

In [52]:
'''
X_train = train_data[:,9].reshape(-1,1)
Y_train = train_data[:,10]
X_test = test_data[:,9].reshape(-1,1)
'''
X_test=testing_data
X_train=training_data[:, :10]
Y_train=training_data[:, 10:]
print(X_test.shape)
print(Y_train.shape)
print(X_train.shape)

In [53]:
from sklearn.linear_model import LinearRegression
alg1 = LinearRegression()
alg1.fit(X_train,Y_train)

LinearRegression()

In [55]:
m = alg1.coef_
c = alg1.intercept_
print("m, c ",m,c)

m, c  [626.99937306] 149.66022546607653

In [56]:
Y_pred = alg1.predict(X_test)
Y_pred_decimal5 = np.around(Y_pred,decimals=5)
Y_pred_decimal5

array([141.19321,  97.04254, 151.58161,  94.44544, 120.41643, 104.83384,
       123.01353, 151.58161, 148.98451, 143.79031, 161.97   , 190.53808,
       125.61062, 167.1642 , 146.38741, 141.19321,  89.25125,  68.47446,
       125.61062, 164.5671 , 115.22223, 154.17871, 146.38741, 159.3729 ,
       180.14969, 130.80482, 148.98451, 143.79031, 195.73228, 224.30036,
       177.55259, 151.58161, 154.17871, 159.3729 , 143.79031,  68.47446,
       151.58161, 156.77581, 211.31487, 112.62513, 159.3729 , 169.7613 ,
       130.80482, 161.97   , 146.38741, 146.38741, 123.01353, 193.13518,
       156.77581, 172.3584 , 172.3584 , 206.12068, 143.79031, 135.99902,
       123.01353, 143.79031, 224.30036, 107.43093, 169.7613 ,  91.84834,
       187.94099, 115.22223, 164.5671 , 151.58161, 115.22223, 135.99902,
       138.59612, 115.22223, 138.59612, 154.17871, 133.40192, 161.97   ,
       203.52358, 143.79031, 141.19321, 138.59612, 154.17871, 130.80482,
       156.77581, 117.81933, 161.97   , 167.1642 , 120.41643, 138.59612,
       125.61062, 161.97   , 159.3729 , 151.58161, 169.7613 , 185.34389,
       193.13518, 187.94099, 141.19321, 135.99902, 146.38741, 172.3584 ,
       161.97   , 138.59612, 138.59612, 229.49456, 169.7613 ,  91.84834,
       120.41643, 195.73228, 125.61062, 148.98451, 195.73228, 141.19321,
       146.38741, 193.13518, 154.17871])

In [50]:
np.savetxt("pred.csv",Y_pred_decimal5,delimiter=",",fmt='%f')